@model AddStaffViewModel
@{
    Layout = "_Layout.cshtml";
}
<form method="post">
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Facebook</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>İnstagram</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Twitter</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

</form>