@model UpdateStaffViewModel
@{
    Layout = "~/areas/admin/views/shared/_layout.cshtml";

}
<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Facebook</label>
    <input type="text" asp-for="FacebookLink" class="form-control" />
    <br />
    <label>İnstagram</label>
    <input type="text" asp-for="InstagramLink" class="form-control" />
    <br />
    <label>Twitter</label>
    <input type="text" asp-for="TwitterLink" class="form-control" />
    <br />
    <button class="btn  btn-success">Güncelle</button>
</form>